*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 58%;
  }
}
@media only screen and (max-width: 480px) {
  * {
    font-size: 40%;
  }
}

body{
  font-family: Montserrat, 'Montserrat', sans-serif;

}

ul, li{
  list-style: none;

}
